body {
  display: flex;
  justify-content: center;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

.baseLayout {
  margin: 0;
  padding: 0;
  min-width: 1200px;
}

h2,
h4 {
  font-family: 'Raleway', sans-serif;
}

#appForm {
  background-color: white;
  background-image: url("../marius-sebastian-42831.jpg");
  background-size: cover;
  height: 300px;
  width: 100%;
  min-width: 1200px;
}

#footer {
  display: flex;
  justify-content: center;
}
